{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}Mon Profil{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/datepicker') }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-flex justify-content-center pt-2">
            <div class="card border-light mb-3 mt-2 cardProfile" >
                <div class="card-header cardHeader">
                    <img src="{{ app.user.avatar }}" class="avatar" alt="Avatar de {{ app.user.pseudo }}">
                    <span class="cardPseudo">{{ app.user.pseudo }}</span>
                </div>
            </div>
        </div>
        {{ form_start(form) }}
            <div class="d-flex justify-content-center pt-1">
                <div class="card border-light mb-3 mt-2 cardProfile">
                    <div class="card-header"><i class="far fa-address-card"></i>&nbsp;&nbsp;Informations Générales</div>
                    <div class="card-body">
                        {{ form_widget(form.gender) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_label(form.birthdayDate) }}
                        <div class="input-group date mb-3" id="date-container">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            </div>
                            {{ form_widget(form.birthdayDate)}}
                        </div>
                        {{ form_row(form.email) }}
                        {{ form_row(form.profession) }}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <div class="card border-light mb-3 mt-2 cardProfile">
                    <div class="card-header"><i class="far fa-images"></i>&nbsp;&nbsp;Photos</div>
                    <div class="card-body">
                        <div style="text-align:center">
                            {% for picture in user.pictures %}
                                <img id="picProfile" src="{{ picture.path }}">
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <div class="card border-light mb-3 mt-2 cardProfile">
                    <div class="card-header"><i class="fas fa-user-edit"></i>&nbsp;&nbsp;Description</div>
                    <div class="card-body">
                        {{ form_widget(form.description)}}
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <div class="card border-light mb-3 mt-2 cardProfile">
                    <div class="card-header"><i class="fab fa-wpexplorer"></i>&nbsp;&nbsp;Intérêts</div>
                    <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
             <div class="d-flex justify-content-center pt-2">
                <button type="submit" class="btn btn-profile"><i class="far fa-edit"></i>&nbsp;&nbsp;Modifier</button>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{# for gender #}
{% block _profile_gender_widget %}
    {% include './partials/_gender.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datepicker') }}
    {{ encore_entry_script_tags('js/datepicker-fr') }}
    {{ encore_entry_script_tags('js/dateManagement') }}
{% endblock %}