{% extends 'base.html.twig' %}

{% form_theme form _self %}

{% block title %}Bienvenue...{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('css/home') }}
    {{ encore_entry_link_tags('css/datepicker') }}
{% endblock %}

{% block body %}
    <div data-spy="scroll" data-target="#navhome" data-offset="0">
        <header id="acceuil" class="headImage">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-7">
                        <div class="home-title">
                            <h1 style="text-align:center;"><strong>Bienvenue sur BizTripJoy</strong></h1>
                        </div>
                        <h4 class="mb-2" style="color: white; text-align:center;">Prenez plaisir à vous déplacer...</h4>
                        <img src="/img/Librairy/imgHomepage.png" id="home-img" alt="image">
                    </div>
                    <div class="col-md-4">
                        <div class="card mt-1">
                            <div class="card-header text-center card-entete">
                                <h4><strong>Pas encore inscrit(e) ?</strong></h4>
                                <h4><strong>C'est le moment de se lancer !</strong></h4>
                            </div>
                            {{ form_start(form) }}
                                <div class="card-body">
                                    {{ form_widget(form.gender) }}
                                    {{ form_row(form.pseudo) }}
                                    {{ form_row(form.email) }}
                                    {{ form_label(form.birthdayDate) }}
                                    <div class="input-group date mb-3">
                                        {{ form_widget(form.birthdayDate)}}
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <i class="fas fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                    </div>
                                    {{ form_row(form.password) }}
                               </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-register btn-block">S'inscrire</button>
                                </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="concept">
                <i class="far fa-lightbulb" id="light"></i>
                <span id="title-concept">Le Concept</span>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                Ullamcorper eget nulla facilisi etiam dignissim. Elementum sagittis vitae et leo duis ut. 
                Dictum at tempor commodo ullamcorper a. Ornare lectus sit amet est placerat in egestas. 
                Lectus magna fringilla urna porttitor rhoncus. Ut pharetra sit amet aliquam id diam. 
                Est velit egestas dui id ornare arcu odio. Elit sed vulputate mi sit. Odio euismod lacinia at quis. 
                Duis at consectetur lorem donec massa sapien faucibus. Tempor orci dapibus ultrices in iaculis nunc sed augue lacus. 
                Fusce id velit ut tortor pretium viverra suspendisse potenti. Id diam maecenas ultricies mi eget. 
                Aliquam eleifend mi in nulla posuere sollicitudin aliquam. Porttitor massa id neque aliquam vestibulum. 
                Molestie nunc non blandit massa enim nec. 
                Maecenas volutpat blandit aliquam etiam.
            </p>
            </p>
                Non blandit massa enim nec dui nunc mattis enim ut. Ante metus dictum at tempor commodo ullamcorper. Mattis pellentesque id nibh tortor. Mauris commodo quis imperdiet massa tincidunt nunc pulvinar sapien. Sit amet aliquam id diam maecenas ultricies. Fringilla urna porttitor rhoncus dolor purus non enim. Malesuada fames ac turpis egestas integer eget aliquet nibh. Faucibus a pellentesque sit amet porttitor eget dolor morbi. Ut pharetra sit amet aliquam. Et sollicitudin ac orci phasellus egestas tellus rutrum tellus. Et malesuada fames ac turpis egestas sed tempus urna. Consequat interdum varius sit amet mattis.
            </p>
            <div class="price mt-5 mb-4" id="price">
                <i class="fas fa-hand-holding-usd" id="money"></i>
                <span id="title-price">Les Abonnements</span>
            </div>
            <div class="row" id="price-list">
                <div class="col-md-4 col-lg-4">
                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <i class="fas fa-map-marker-alt"></i>
                            <br>Occasionnel
                        </div>
                        <div class="card-body">
                            <p class="card-title">8,99 &euro;<br>la Semaine</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <i class="fas fa-map-marker-alt" style="color: #b36700"></i>
                            <br>Ponctuel
                        </div>
                        <div class="card-body">
                            <p class="card-title">27,99 &euro;<br>le Mois</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <i class="fas fa-map-marker-alt" style="color: #614e1a"></i>
                            <br>Temporaire
                        </div>
                        <div class="card-body">
                            <p class="card-title">74,99 &euro;<br>leTrimestre</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="price-list">
                <div class="col-md-6 col-lg-6">
                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <i class="fas fa-map-marker-alt" style="color: #dcdcdc"></i>
                            <br>Régulier
                        </div>
                        <div class="card-body">
                            <p class="card-title">139,99 &euro;<br>le Semestre</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="card border-primary mb-3">
                        <div class="card-header">
                            <i class="fas fa-map-marker-alt" style="color: #ffd700"></i>
                            <br>Permanent
                        </div>
                        <div class="card-body">
                            <p class="card-title">279,99 &euro;<br>l'Année</p>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{# Render gender button radio #}
{% block _home_register_gender_widget %}
    <div class="btn-group btn-group-toggle mb-3" data-toggle="buttons"> 
        <span class="my-auto mr-2">{{ form_label(form) }}</span>
        {% for key,choice in form.vars.choices %}
            {% set icon = "fas fa-male" %}
            {% set classButton = "btn-primary" %}
            {% if choice.value == 1 %}
                {% set icon = "fas fa-female" %}
                {% set classButton = "btn-primary active" %}
            {% endif %}
            <label class="btn {{ classButton }}">
                <input type="radio" 
                name="{{ form.vars.full_name }}" id="{{ form.vars.id }}_{{ key }}"
                value="{{ choice.value }}" autocomplete="off" {% if choice.value == 1 %}checked{% endif %}>
                <i class="{{ icon }} mr-2"></i>{{ choice.label }}
            </label>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('js/datepicker') }}
    {{ encore_entry_script_tags('js/datepicker-fr') }}
    <script>
        // customize datepicker
        $(document).ready(function(){
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy',
                language: 'fr',
                orientation: 'top auto',
                startView: 2,
                endDate: '-18y',
                startDate: '-105y'
            });
        });
    </script>
{% endblock %}